body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #333;
    font-family: 'Arial', sans-serif; /* Sets the font family */
    font-size: 3em; /* Adjusts the size of the font */
    font-weight: bold; /* Sets the weight (e.g., normal, bold, lighter) */

    line-height: 1; /* Adjusts the spacing between lines */
    letter-spacing: 2px; /* Adds space between characters */
    text-transform: uppercase; /* Converts text to uppercase */
}


nav {
    display: flex;
    align-items: center;
    background-color: #333;
    padding: 10px;
}

nav a {
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    margin-right: 10px;
}

nav a:hover {
    background-color: #ff0000;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
